* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #cddd;
    --my-color: rgba(219, 68, 68, 1);
    --div-color: silver;
    --color-h3: rgba(0, 0, 0, 1);
    --text-color: #fff;

}

/*Start Header*/

.TopHeader {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: black;
    width: 100%;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 13px 0;
}

.shop {
    display: flex;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 40px 8% 20px 8%;
    position: relative;
}

nav h1 {
    font-size: 30px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.without_underline a {
    text-decoration: none;
    color: black;
}

.underline a {
    color: black;
}

.input_research {
    border: none;
}

.research {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.research a {
    color: black;
}

.fa-user:hover+.user-info {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    right: -19px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 14px;
    margin-right: 145px;
    line-height: 36px;
    padding: 24px 12px 12px 27px;
    color: white;
    border-radius: 10px;
    top: 100px;
}

.fa-user:hover+.user-info i {
    padding-right: 16px;
    font-size: 17px;
}

.fa-user:hover {
    background-color: red;
    border-radius: 100PX;
    width: 30PX;
    PADDING: 5PX 7PX;
    color: white;
    margin-left: -9PX;
}

.user-info {
    display: none;
}

.header {
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}

.Box {
    background: #F5F5F5;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
}

.Box:hover input {
    width: 200px;
}

.Box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500px;
    transition: 0.8s;
    background: transparent;
}

.Box a .search {
    color: black;
    font-size: 18px;
}

.Home_About {
    padding-left: 8%;
    padding-top: 5%;
    display: flex;
    gap: 15px;
}

.Home_About a {
    text-decoration: none;
    color: var(--div-color);
}

.About_link a {
    color: black;
}

.home {
    color: var(--div-color);
}

/* end header  */

.content {
    padding-left: 8%;
}

/* start div picture and contant */
.content-picture {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    align-items: center;

}

.content_info h1 {
    color: var(--color-h3);
    margin-bottom: 30px;
}

.content_info p {
    color: var(--color-h3);
}

.picture img {
    width: 537px;
    height: 509px;
}

/* end div picture and contant */
/* start group picture */

.group_picture {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.group {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 23%;
    height: 220px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.group img {
    width: 80px;
    height: 80px;
}

.group2 {
    background-color: #DB4444;
    color: white;
    border: none;
}

/* End group picture */

/* start section picture people */

.picture {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}

.picture1 img {
    width: 300px;
    height: 300px;
    background-color: rgba(245, 245, 245, 1);
    padding: 20px 30px;
    margin-top: 100px;
    border-radius: 6px;
}

.social_websit {
    display: flex;
    gap: 5%;

}

.fa_website {
    color: black;
    font-size: 20px;
}

.circle {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-size: 10px;
    color: gray;
}

.circle_red {
    color: #DB4444;
}

/* end section picture and people */
/* start section icon */

.icon_end {
    margin-top: 15%;
    margin-bottom: 15%;
}

.icon {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.icon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    text-align: center;
}

.icon1 img {
    width: 80px;
    height: 80px;

}

/* end section icons */

/* STYLES SPECIFIC TO FOOTER  */
.footer {
    width: 100%;
    position: relative;
    background-color: black;
}

.contain {
    display: flex;
}

.footer .col {
    /* width: 190px; */
    padding: 3% 5%;
}

.footer .col h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px 5px 0px;
    color: white;
    text-transform: uppercase;
}

.footer .col ul {
    list-style-type: none;
}

.footer .col ul li {
    color: #999999;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
    /*Cursor Type*/
    cursor: pointer;
    transition: 0.2s;
}

.email input {
    border: 1.5px solid #FAFAFA;
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 45px;
}

.social ul {
    display: flex;
    flex-direction: column;
}

.Qrcode {
    display: flex;
    gap: 10px;
    align-items: center;
}

.google_paly_apple {
    display: flex;
    flex-direction: column;
}

.social_media {
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    font-size: 1.5rem;
    color: white;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: 0.1s;
}

.cope {
    border-top: 1px solid gray;
    padding: 15px 0;
    text-align: center;
    color: gray;

}

footer {
    margin-top: 3%;
}


/*End of Footer*/